.image-18-icon2 {
  left: 0;
  border-radius: var(--br-10xl);
  width: 551px;
  height: 310px;
  object-fit: cover;
}
.div,
.image-18-icon2,
.vector-icon1 {
  position: absolute;
  top: 0;
}
.div {
  left: 22px;
  letter-spacing: 0.04em;
  font-weight: 500;
  display: inline-block;
  width: 29px;
}
.vector-icon1 {
  height: 84.21%;
  width: 31.36%;
  right: 68.64%;
  bottom: 15.79%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.parent {
  position: absolute;
  top: 15px;
  left: 479px;
  width: 51px;
  height: 19px;
  text-align: left;
  color: var(--color-gray-100);
}
.pier-60,
.stays1 {
  line-height: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.pier-60 {
  position: absolute;
  top: 319px;
  left: 16px;
  font-size: var(--font-size-6xl);
  width: 134px;
  height: 38px;
}
.stays1 {
  top: 315px;
  left: 411px;
  font-size: var(--font-size-mini);
  color: var(--color-gray-200);
  width: 136px;
  height: 27px;
}
.card-3,
.mi,
.stays1 {
  position: absolute;
}
.mi {
  top: 345px;
  left: 437px;
  font-size: var(--font-size-3xl);
  line-height: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 68px;
  height: 23px;
}
.card-3 {
  top: 544px;
  left: 1272px;
  border-radius: var(--br-31xl);
  background-color: var(--studio-darkmode-allwhite-ffffff);
  width: 551px;
  height: 383px;
  cursor: pointer;
  text-align: center;
  font-size: var(--font-size-base);
  color: var(--color-black);
  font-family: var(--font-inter);
}
