.owned-properties-child {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-xl);
  background-color: var(--color-navajowhite);
  width: 1357px;
  height: 360px;
}
.owned-properties-inner,
.owned-properties-item {
  position: absolute;
  top: 117px;
  left: 25px;
  border-radius: var(--br-xl);
  background-color: var(--studio-darkmode-allwhite-ffffff);
  width: 1319px;
  height: 227px;
}
.owned-properties-inner {
  top: 0;
  left: 0;
  background-color: var(--color-sienna);
  width: 293px;
  height: 61px;
}
.owned-properties2 {
  position: absolute;
  top: 22px;
  left: 27px;
  line-height: 18px;
}
.owned-properties1 {
  position: absolute;
  top: 44px;
  left: 25px;
  width: 293px;
  height: 61px;
}
.no-properties-owned1 {
  margin: 0;
}
.no-properties-owned-container1 {
  position: absolute;
  top: 158px;
  left: 25px;
  line-height: 18px;
  display: inline-block;
  width: 314px;
  height: 43px;
}
.head-house-icon4 {
  position: absolute;
  top: 138px;
  left: 1018px;
  width: 295px;
  height: 301px;
  overflow: hidden;
}
.owned-properties {
  position: absolute;
  top: 602px;
  left: 84px;
  width: 1357px;
  height: 360px;
  text-align: left;
  font-size: var(--font-size-9xl);
  color: var(--color-black);
  font-family: var(--font-inter);
}
