.frame-child,
.recent-stays-child {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-xl);
  background-color: var(--color-navajowhite);
  width: 1357px;
  height: 360px;
}
.frame-child {
  background-color: var(--color-sienna);
  width: 254px;
  height: 61px;
}
.recent-stays1 {
  position: absolute;
  top: 21px;
  left: 40px;
  line-height: 18px;
}
.rectangle-parent {
  position: absolute;
  top: 0;
  left: 1px;
  width: 254px;
  height: 61px;
}
.frame-parent,
.recent-stays {
  position: absolute;
  top: 41px;
  left: 18px;
  width: 1319px;
  height: 303px;
}
.recent-stays {
  top: 199px;
  left: 80px;
  width: 1357px;
  height: 360px;
}
.user-profile {
  position: relative;
  background-color: var(--studio-darkmode-allwhite-ffffff);
  width: 100%;
  height: 1186px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-9xl);
  color: var(--color-black);
  font-family: var(--font-inter);
}
