.userProfileChild {
  position: absolute;
  top: 199px;
  left: 1484px;
  border-radius: var(--br-xl);
  background-color: var(--color-whitesmoke);
  width: 358px;
  height: 763px;
}
.userProfileItem {
  position: absolute;
  top: 249px;
  left: 1507px;
  width: 312px;
  height: 312px;
}
.image19Icon,
.userProfileInner {
  position: absolute;
  top: 260px;
  left: 1518px;
  width: 291px;
  height: 291px;
}
.image19Icon {
  top: 298px;
  left: 1581px;
  width: 164px;
  height: 220px;
  object-fit: cover;
  mix-blend-mode: normal;
}
.skellyman0218 {
  position: absolute;
  top: 460px;
  left: 1507px;
  line-height: 14px;
  display: none;
  align-items: center;
  width: 277px;
  height: 45px;
  -webkit-text-stroke: 1px #fff0ee;
}
.editProfileButtonChild {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-xl);
  background-color: var(--color-firebrick);
  width: 254px;
  height: 61px;
}
.goToLens {
  position: absolute;
  top: 22px;
  left: 48px;
  line-height: 18px;
}
.editProfileButton,
.skellymanlens {
  position: absolute;
  text-align: center;
}
.editProfileButton {
  top: 804px;
  left: calc(50% + 580px);
  width: 254px;
  height: 61px;
  font-size: var(--font-size-lg);
  color: var(--studio-darkmode-allwhite-ffffff);
}
.skellymanlens {
  top: 610px;
  left: 1525px;
  line-height: 5px;
  display: flex;
  font-weight: 500;
  font-family: var(--font-inter);
  align-items: center;
  justify-content: center;
  width: 277px;
  height: 45px;
  -webkit-text-stroke: 1px #fff0ee;
}
.recentStaysChild {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-xl);
  background-color: var(--color-whitesmoke);
  width: 1357px;
  height: 360px;
}
.recentStays1 {
  position: absolute;
  top: 21px;
  left: 40px;
  line-height: 18px;
}
.rectangleParent {
  position: absolute;
  top: 0;
  left: 1px;
  width: 254px;
  height: 61px;
}
.frameParent,
.recentStays {
  position: absolute;
  top: 41px;
  left: 18px;
  width: 1319px;
  height: 303px;
}
.recentStays {
  top: 199px;
  left: 80px;
  width: 1357px;
  height: 360px;
  font-size: var(--font-size-9xl);
  color: var(--studio-darkmode-allwhite-ffffff);
  font-family: var(--font-inter);
}
.blankLine {
  margin: 0;
}
.skellySmith {
  position: absolute;
  top: 548px;
  left: 1562px;
  line-height: 100px;
  color: var(--color-midnightblue);
  white-space: pre-wrap;
  display: inline-block;
  width: 203px;
  height: 95px;
}
.iconTGreen2x1 {
  position: absolute;
  top: 713px;
  left: 1605px;
  width: 124px;
  height: 84px;
  object-fit: cover;
}
.userProfile {
  position: relative;
  background-color: var(--studio-darkmode-allwhite-ffffff);
  width: 100%;
  height: 1186px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--color-black);
  font-family: var(--font-fipps);
}
